#root {
  margin: 0 auto;
}

.logo {
  padding: 1em;
}
.logo:hover {
  transform: rotate(-5deg);
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 130px;
  background-color: #FBF0E5;
  display: flex;
  flex-direction: column;
  color: #E84636;
  text-align: center;
}
