#root {
  margin: 0 auto;
  color: #E84636;
  text-align: center;
}

.logo {
  padding: 1em;
}
.logo:hover {
  transform: rotate(-5deg);
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 130px;
  background-color: #FBF0E5;
  display: flex;
  flex-direction: column;
}

.sidebar p {
  font-style: italic;
}

.canvas-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
}

.canvas {
  background-color: #F7E1CA;
  flex: 1;
  width: 100%;
  height: 100%;
}

