#root {
  margin: 0 auto;
  color: #E84636;
  text-align: center;
}

.logo {
  padding: 1em;
  cursor: pointer;
}
.logo:hover {
  transform: rotate(-5deg);
}

.button {
  padding: 2em;
  cursor: pointer;
}

.button:hover {
  transform: rotate(-3deg);
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 130px;
  background-color: #FBF0E5;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.canvas-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100vh;
}

.canvas {
  background-color: #F7E1CA;
  flex: 1;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  box-shadow: 0 0 3em rgba(117, 85, 85, 0.23);
  display: flex;
  flex-direction: column;
  background: #FDF8F2;
  border-radius: 10px;
}

.modal-header {
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #E84636;
  width: 100%;
}

.modal-header .button {
  margin: 0 1rem;
  padding: 0.2rem;
  border-radius: 50%;
  height: 1.5em;
  cursor: pointer;
  background: white;
  align-self: center;
}

.modal-header h3 {
  margin: 1rem;
}

.modal-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-fields {
  min-width: 400px;
}

.input-holder {
  margin: 1rem 2rem 0 2rem;
}

.input-tooltip {
  justify-self: left;
  font-size: small;
  margin: 0;
}

.modal-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #E84636;
  font-size: large;
  border-radius: 5px;
  background: white;
  color: #E84636;
}

.color-picker {
  border: 1px solid #E84636;
  width: 100%;
  height: 3rem;
  background: white;
  cursor: pointer;
}

.book-preview {
  padding: 1rem;
  align-content: center;
}

.modal-footer {
  margin-top: 2rem;
  border-radius:0 0 10px 10px;
  color: #F7E1CA;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: white;
  width: 100%;
}

.modal-footer .button {
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;
  height: 3rem;
  cursor: pointer;
  background: white;
}



